vistrails/db/versions/v1_0_3/schemas/xml/vistrail.xsd

<!--###############################################################################
##
## Copyright (C) 2011-2014, NYU-Poly.
## Copyright (C) 2006-2011, University of Utah. 
## All rights reserved.
## Contact: contact@vistrails.org
##
## This file is part of VisTrails.
##
## "Redistribution and use in source and binary forms, with or without 
## modification, are permitted provided that the following conditions are met:
##
##  - Redistributions of source code must retain the above copyright notice, 
##    this list of conditions and the following disclaimer.
##  - Redistributions in binary form must reproduce the above copyright 
##    notice, this list of conditions and the following disclaimer in the 
##    documentation and/or other materials provided with the distribution.
##  - Neither the name of the University of Utah nor the names of its 
##    contributors may be used to endorse or promote products derived from 
##    this software without specific prior written permission.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
## AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, 
## THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR 
## PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR 
## CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, 
## EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, 
## PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; 
## OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
## WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR 
## OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF 
## ADVISED OF THE POSSIBILITY OF SUCH DAMAGE."
##
###############################################################################
-->

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="vistrail">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="action" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="tag" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="vistrailVariable" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="parameter_exploration" ref="parameterExploration" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="actionAnnotation" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="version" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="action">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:choice>
          <xs:element ref="add" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="delete" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="change" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="prevId" type="xs:int"/>
      <xs:attribute name="date" type="xs:dateTime"/>
      <xs:attribute name="session" type="xs:int"/>
      <xs:attribute name="user" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tag">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="annotation">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="key" type="xs:string"/>
      <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vistrailVariable">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="uuid" type="xs:string"/>
      <xs:attribute name="package" type="xs:string"/>
      <xs:attribute name="module" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
      <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameterExploration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="function" ref="peFunction" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="actionId" type="xs:int"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="date" type="xs:dateTime"/>
      <xs:attribute name="user" type="xs:string"/>
      <xs:attribute name="dims" type="xs:string"/>
      <xs:attribute name="layout" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="actionAnnotation">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="key" type="xs:string"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="actionId" type="xs:int"/>
      <xs:attribute name="date" type="xs:dateTime"/>
      <xs:attribute name="user" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="add">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="module" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="location" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="annotation" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="function" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="connection" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="port" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="portSpec" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="abstraction" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="group" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="other" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="plugin_data" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="what" type="xs:string"/>
      <xs:attribute name="objectId" type="xs:int"/>
      <xs:attribute name="parentObjId" type="xs:int"/>
      <xs:attribute name="parentObjType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="what" type="xs:string"/>
      <xs:attribute name="objectId" type="xs:int"/>
      <xs:attribute name="parentObjId" type="xs:int"/>
      <xs:attribute name="parentObjType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="change">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="module" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="location" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="annotation" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="function" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="connection" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="port" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="portSpec" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="abstraction" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="group" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="other" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="plugin_data" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="what" type="xs:string"/>
      <xs:attribute name="oldObjId" type="xs:int"/>
      <xs:attribute name="newObjId" type="xs:int"/>
      <xs:attribute name="parentObjId" type="xs:int"/>
      <xs:attribute name="parentObjType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="peFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parameter" ref="peParameter" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="moduleId" type="xs:int"/>
      <xs:attribute name="port_name" type="xs:string"/>
      <xs:attribute name="is_alias" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="module">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="location" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="function" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="portSpec" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="cache" type="xs:int"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
      <xs:attribute name="package" type="xs:string"/>
      <xs:attribute name="version" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="location">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="x" type="xs:float"/>
      <xs:attribute name="y" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="function">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="pos" type="xs:int"/>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="connection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="port" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="port">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="moduleId" type="xs:int"/>
      <xs:attribute name="moduleName" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="signature" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameter">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="pos" type="xs:int"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="val" type="xs:string"/>
      <xs:attribute name="alias" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="portSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="portSpecItem" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="optional" type="xs:int"/>
      <xs:attribute name="sortKey" type="xs:int"/>
      <xs:attribute name="minConns" type="xs:int"/>
      <xs:attribute name="maxConns" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="abstraction">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="location" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="function" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="cache" type="xs:int"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
      <xs:attribute name="package" type="xs:string"/>
      <xs:attribute name="version" type="xs:string"/>
      <xs:attribute name="internalVersion" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="workflow" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="location" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="function" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="cache" type="xs:int"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
      <xs:attribute name="package" type="xs:string"/>
      <xs:attribute name="version" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="other">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="value" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="plugin_data">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="data" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="peParameter">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="pos" type="xs:int"/>
      <xs:attribute name="interpolator" type="xs:string"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="dimension" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="portSpecItem">
    <xs:complexType>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="pos" type="xs:int"/>
      <xs:attribute name="module" type="xs:string"/>
      <xs:attribute name="package" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="default" type="xs:string"/>
      <xs:attribute name="values" type="xs:string"/>
      <xs:attribute name="entryType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="workflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="connection" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="plugin_data" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="other" minOccurs="0" maxOccurs="unbounded"/>
        <xs:choice>
          <xs:element ref="module" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="abstraction" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="group" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:int"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="version" type="xs:string"/>
      <xs:attribute name="vistrail_id" type="xs:int"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
